<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>568795413239-fcv2b8n2c4me88fbarisd8erv64b5all.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.568795413239-fcv2b8n2c4me88fbarisd8erv64b5all</string>
	<key>API_KEY</key>
	<string>AIzaSyDFbu_suKswpCxHfv_p-iE-myiUJSSk1RU</string>
	<key>GCM_SENDER_ID</key>
	<string>568795413239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bala.microple.Firebase-Login-SwiftUI</string>
	<key>PROJECT_ID</key>
	<string>school-9ff9e</string>
	<key>STORAGE_BUCKET</key>
	<string>school-9ff9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:568795413239:ios:9c3e00b63ba4fa8547b1f2</string>
</dict>
</plist>